<div ng-controller="Ctrl">

<div id="myModal" class="modal fade" role="dialog">
  			<div class="modal-dialog">
	    		<div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Payment Information</h4>
			      </div>
			      <div class="modal-body">
			      	<form class="form-inline" name="form">
					    <div class="form-group control-group required" ng-class="{true: 'error'}[submitted && form.email.$invalid]">
					      <label class="control-label">Payment Type</label><br>
					       <div class="controls">
					   		<select class="form-control"  required="required" ng-model="Myselect" ng-options = "item.path.split('\\')[2] as item.path.split('\\')[2] for item in paymentTypeData track by item.id" ng-change = "paymentType(Myselect)">
					   		<option value="">select</option>
						  	</select>
						   <span class="help-inline" ng-show="submitted && form.selected.$error.required">Please fill out this field</span>
						   </div>
					    </div>
					    <div class="form-group required">
					      <label class="control-label">Accounting type</label><br>
					      <select class="form-control " required="required" ng-model="selected" ng-options="item.value as item.value for item in accountData" ng-change = "accountingType(selected)"  ng-checked="selection.indexOf(selected) > -1"
    							ng-click="toggleSelection(selected)">
							  		<option value="">select</option>
						   </select>
					    </div>
					</form>
					   <form class="form-inline">
					    <div class="form-group required">
					      <label class="control-label">Frequency</label><br>
					   		<select class="selectpicker form-control " required="required" ng-model="selected" ng-options="item.path.split('\\')[2] as item.path.split('\\')[2] for item in frequencyTypeData"  ng-change = "frequency(selected)">
					   		<option value="">select</option>
						   </select>
					    </div>
					    <div class="form-group required">
					      <label class="control-label">period start date</label><br>
					      <div class="input-group date">
  							<input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
						</div>

					    </div>
					     <div class="form-group required" id="sandbox-container">
					      <label class="control-label">Payment Timing</label><br>
					   		 <select class="selectpicker form-control " required="required" ng-model="selected" ng-options="item.value as item.value for item in data" ng-change = "paymentTiming(selected)">
					   		 <option value="">select</option>
						   </select>

					    </div>
					   
					  </form>
					   <form class="form-inline ">
					    <div class="form-group required">
					      <label class="control-label">payment due on</label><br>
					   		 <select class="selectpicker form-control " required="required" ng-model="selected" ng-options="item.value as item.value for item in paymentDuedata" ng-change = "paymentDueOn(selected)">
							  	<option value="">select</option>
						   </select>

					    </div>
					     <div class="form-group required">
					      <label class="control-label">payment due day</label><br>
					   		 <select class="selectpicker form-control " required="required" ng-model="selected" ng-options="item.id as item.value for item in paymentDueDay" ng-change = "paymentDueDay(selected)">
							  	<option value="">select</option>
						   </select>

					    </div>
					    <div class="form-group required">
					      <label class="control-label">Accounting cost center</label><br>
					     	  <input type="text" class="form-control" id="email" placeholder="0">

					    </div>
					      
					   
					  </form>
					  <div class="checkbox">
						      <label><input type="checkbox"> Option term payment</label>
						    </div>
					  <div class="form-group">
					  <label for="comment">Description</label>
					  <textarea class="form-control textareaBox" rows="5" id="comment"></textarea>
					</div>
				
			      </div>
			      <div class="modal-footer">
			       <form class="form-inline" style = "float:left">
						<div class="form-group">
				     		<span class="fa fa-info-circle" style = "float:left;text-align:center;"></span><br>Information
				    	</div>
				    	<div class="form-group">
				     		<span class="fa fa-calendar-o" style="float:left; text-align:center;"></span><br>
	        				Parameters
				    	</div>
		          	</form>
		          	<p class="fa fa-toggle-right icon" ui-sref="page1.modal2" ng-click="fnModalView()"></p>
		          	</div>
		          	<div ui-view></div>
			       		<!--<i class="fa fa-toggle-right" ng-click="submitted=true"></i>-->
			      </div>
			    </div>

  			</div>
		</div>