<div class="container-fluid">


    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    
                       
                        <div class="col-md-8">
                            <h3><strong>{{state}}</strong></h3>
                           <ul ng-repeat="list in menu">
                           <h6>{{list.item1}}</h6>
                           <h6>{{list.item2}}</h6>
                           <h6>{{list.item3}}</h6>
                           <h6>{{list.item4}}</h6>
                           </ul>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
