<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<script src = "JS/angular.min.js"></script>
  		<script src = "JS/promise_controller.js"></script>
  		<link rel="stylesheet" href="CSS/style.css">
  	</head>
  	<body ng-app="myApp">
  		<div ng-controller="promisecntrl">
  			<div class="container">
  				<div class="row">
  					<div class ="col-md-6">
  						<table class="emptable">
  							<thead>
  								<th>FirstName</th>
  								<th>LatsName</th>
  								<th>Experience</th>
  							</thead>
  							<tbody>
	  							<tr ng-repeat="emp in data.employees">
	  								<td>{{emp.firstName}}</td>
	  								<td>{{emp.lastName}}</td>
	  								<td>{{emp.experience}}</td>
	  							</tr>
  							</tbody>
  						</table>	
  					</div>
  					<div class ="col-md-6">

	  					<table class="foodtable">
	  							<thead>
	  								<th>State</th>
	  								<th>Image</th>
	  							</thead>
	  							<tbody>
		  							<tr ng-repeat="food in fooddata.food ">
		  								<td>{{food.state}}</td>
		  								<td>{{food.image}}</td>
		  		
		  							</tr>
	  							</tbody>
	  					</table>
  					</div>
  				</div>

  			</div>
  		</div>
  	</body>
  	</html>
