<div ng-controller="schoolDetailsCtrl">

	SSC:<input type="text" ng-model="obj.school.schoolname" placeholder="Enter Your School Name">

	<input type="text" ng-model="obj.school.percent" placeholder="Enter Your Aggregate"><br><br>


	INTER:<input type="text" ng-model = "obj.inter.interName" placeholder="Enter your College Name">

	<input type="text" ng-model="obj.inter.percent" placeholder="Enter Your Aggregate"><br><br>

	GRADUATION:<input type="text" ng-model = "obj.graduate.collegeName" placeholder="Enter your College Name">
	<input type="text" ng-model="obj.graduate.percent" placeholder="Enter Your Aggregate"><br><br>

	<button a href ui-sref="skillsdetails" ng-click="continue()">Continue</button>
	
</div>