

<div class="container-fluid" ng-repeat = "food in data1.food">


    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img ng-src="{{food.image}}" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h6>{{food.state}}</h6>
                            <button class="btn btn-primary btn-xs"  ng-click="getmenu(food.state,food.menu)" a  ui-sref=".menu"> MENU</button>
                            <button class="btn btn-success btn-xs"> GALLERY</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

       
           
           </div>
           <div style = "float:right" ui-view></div>
       